<h3>custom-pipe</h3>

<br>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]='nameSearch'>
</div>
<br>

<table class="table table-border">
    <thead>
        <tr>
            <th>SR No. </th>
            <th>Name </th>
            <th>Age</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Langulage</th>
        </tr>
    </thead>
    <tbody *ngFor="let item of emp_list | filter:nameSearch">
        <tr>
            <td scope="row">{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.salary}}</td>
            <td>{{item.department}}</td>
            <td>{{item.language | short:15 }}</td>
        </tr>
    </tbody>
</table>